.search-results {
    text-align: center;
    padding: 10px 30px 0px 30px;
    font-family: 'Montserrat', sans-serif;
}

.search-image {
    margin-top: 20px;
    width: 70%;
    height: auto;
    box-shadow: 2px 2px 5px rgb(157, 157, 157);
    margin-bottom: 50px;
}
